@import '~@angular/material/prebuilt-themes/indigo-pink.css';

p {
  font-family: Lato;
}
mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
  z-index: 3 !important;
  width: 15vh;
}

mat-button-toggle:hover {
  background-color: #fff !important;
  border-radius: 5px !important;
}

.mat-button-toggle-checked {
  background-color: #ccc !important;
}

.mat-button-toggle-input {
  background-color: none !important;
}

form {
  width: 420px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}
.mat-form-field {
  width: 100%;
}
.misc-bottom-padding {
  margin: 8px 0 20px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
.mat-radio-label {
  margin: 0 15px 0 0;
}
.title-center {
  margin: 0 auto;
}
.button-wrapper {
  margin-top: 10px;
}